.board-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

header {
  text-align: center;
  color: white;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  flex: 1; /* makes all of 3 of the columns take equal space*/
  min-height: 300px;
  background-color: #F8F2ED;
}

.columns h2 {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#todo h2{
  background-color: #FF8A8A;
}

#inProgress h2{
  background-color: #FFFF00;
}

#complete h2 {
  background-color: #00FFFF;
}

.task-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.task-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.add-task {
  display: flex;
  gap: 5px;
}

.add-task input {
  flex: 1;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-task input:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
} 

.delete-btn {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}